@import "bower_components/bootswatch/lumen/_variables";
@import "bower_components/bootstrap-sass/assets/stylesheets/bootstrap";
@import "bower_components/bootswatch/lumen/_bootswatch";
@import "bower_components/font-awesome/scss/font-awesome";
@import "ember-modal-dialog/ember-modal-structure";
@import "ember-modal-dialog/ember-modal-appearance";

body {
  min-height: 2000px;
  padding-top: 70px;
}

fieldset {
  margin-top: 10px;
}

.panel {
  border-top: 1px solid #e7e7e7;
}

.btn-default-deselected {
  color: #CCCCCC;
}

.margin-bottom-10 {
  margin-bottom: 10px;
}

.red {
  color: red;
}

.hidden-delete {
  display: none;
  &:hover {
    cursor: pointer;
  }
}

.race-panel-body:hover .hidden-delete {
  display: block;
}
