body {
  min-height: 2000px;
  padding-top: 70px;
}

fieldset {
  margin-top: 10px;
}

.panel {
  border-top: 1px solid #e7e7e7;
}

.btn-default-deselected {
  color: #CCCCCC;
}

.margin-bottom-10 {
  margin-bottom: 10px;
}
