<div class="col-sm-3">
  <strong>Location:</strong>
</div>
<div class="col-sm-9">
  {{input type="checkbox" checked=isChecked}}
  Within
  {{input type="text" value=kilometers}}
  km of
  {{input type="text" value=zipCode}}
</div>
