<div class="form-group">
  <label for="runDistanceType1" class="col-sm-3 control-label">Run Distance</label>
  <div class="col-sm-3">
    {{#x-select id="runDistanceType1" class="form-control" value=distanceType}}
      {{#each distanceTypes as |distanceType|}}
        {{#x-option value=distanceType.value}}
          {{distanceType.label}}
        {{/x-option}}
      {{/each}}
    {{/x-select}}
  </div>
  {{#if isCustom}}
    <div class="col-sm-3">
      {{input type="text" class="form-control" value=model.runDistanceNumber required=true}}
    </div>
    <div class="col-sm-3">
      {{#x-select class="form-control" value=model.runDistanceUnits}}
        {{#each converter.supportedUnits as |unit|}}
          {{#x-option value=unit.value}}
            {{unit.label}}
          {{/x-option}}
        {{/each}}
      {{/x-select}}
    </div>
  {{/if}}
</div>
