<form class="form-horizontal">
  <div class="form-group">
    <label for="distanceType1" class="col-sm-2 control-label">Distance</label>
    <div class="form-group">
      <div class="col-sm-2">
        {{#x-select id="distanceType1" class="form-control" value=distanceType}}
          {{#each distanceTypes as |distanceType|}}
            {{#x-option value=distanceType.value}}
              {{distanceType.label}}
            {{/x-option}}
          {{/each}}
        {{/x-select}}
      </div>
      {{#if isCustom}}
        <div class="col-sm-2">
          {{input type="text" id="city1" class="form-control" value=model.runDistanceNumber}}
        </div>
        <div class="col-sm-2">
          {{#x-select id="unit1" class="form-control" value=model.runDistanceUnits}}
            {{#each units as |unit|}}
              {{#x-option value=unit.value}}
                {{unit.label}}
              {{/x-option}}
            {{/each}}
          {{/x-select}}
        </div>
      {{/if}}
    </div>
  </div>
  <div class="form-group">
    <label for="surface1" class="col-sm-2 control-label">Course Surface</label>
    <div class="col-sm-2">
      {{#x-select id="surface1" class="form-control" value=model.courseSurface}}
        {{#each surfaces as |surface|}}
          {{#x-option value=surface.value}}
            {{surface.label}}
          {{/x-option}}
        {{/each}}
      {{/x-select}}
    </div>
  </div>
</form>
