<div class="col-sm-3">
  <strong>Type:</strong>
</div>
<div class="col-sm-9">
  <label class="checkbox-inline">
    {{input type="checkbox" checked=isRun}} Run
  </label>
  <label class="checkbox-inline">
    {{input type="checkbox" checked=isBike}} Bike
  </label>
  <label class="checkbox-inline">
    {{input type="checkbox" checked=isTri}} Tri
  </label>
</div>
