<div class="col-sm-3">
  <strong>Dates:</strong>
</div>
<div class="col-sm-9">
  <div class="row">
    <div class="col-xs-6 text-left">
      From
    </div>
    <div class="col-xs-6 text-right">
      To
    </div>
  </div>
  <div class="row">
    <div class="col-xs-6">
      {{bootstrap-datepicker value=fromDate startDate=dateLowerBound endDate=fromDateUpperBound placeholder="MM/DD/YYYY"}}
    </div>
    <div class="col-xs-6">
      {{bootstrap-datepicker value=toDate startDate=toDateLowerBound endDate=dateUpperBound placeholder="MM/DD/YYYY"}}
    </div>
  </div>
</div>
