<h2 class="text-center">Upcoming Events</h2>

<div class="table-responsive">
  <table class="table table-condensed table-hover table-bordered table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Date</th>
        <th>Location</th>
      </tr>
    </thead>
    <tbody>
      {{#each model as |event|}}
        <tr>
          <td>{{event.name}}</td>
          <td>{{moment-format event.date 'MM/DD/YYYY'}}</td>
          <td>{{event.city}}, {{event.state}}</td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>