{{#event-show event=model}}
  {{#if model.hasRaces}}
    <div class="row">
      {{#link-to 'events.index' class="btn btn-default col-sm-2 col-sm-offset-2" }}Show All Events{{/link-to}}
      {{#link-to 'events.edit' model class="btn btn-primary col-sm-2 col-sm-offset-4" }}Edit{{/link-to}}
    </div>
  {{/if}}
{{/event-show}}

<div class="row">
  <p>
    Total number of races for this event: {{model.races.length}}
  </p>
</div>

{{outlet}}
