<div class="row">
  <div class="col-sm-6">
    <strong>Race Type:</strong>
  </div>
  <div class="col-sm-6">
    <label class="checkbox-inline">
      {{input type="checkbox" checked=isRun}} Run
    </label>
    <label class="checkbox-inline">
      {{input type="checkbox" checked=isBike}} Bike
    </label>
    <label class="checkbox-inline">
      {{input type="checkbox" checked=isTri}} Tri
    </label>
  </div>
</div>
