<div class="search-row">
  {{events-type-search raceTypesChanged=this.attrs.raceTypesChanged}}
</div>
<div class="search-row">
  {{events-distance-search minDistance=minDistance maxDistance=maxDistance distanceChanged=this.attrs.distanceChanged}}
</div>
<div class="search-row">
  {{events-date-search minTime=minTime maxTime=maxTime dateChanged=this.attrs.dateChanged}}
</div>
<div class="search-row">
  {{events-location-search locationChanged=this.attrs.locationChanged}}
</div>
